# Covid19-analysis

Steps

    1-Import all the required  modules
    2-we need to understand about the dataset by performing EDA 
    3-

# 1.Importing modules

In [1]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

In [2]:
os.chdir('D:\BE\prjectfiles\covid19')

In [3]:
dataset1=pd.read_csv('covid_19_india.csv',index_col=0)

In [5]:
dataset1.head(10)

,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
Sno,,,,,,,,
1,30/01/20,6:00 PM,Kerala,1,0,0,0,1
2,31/01/20,6:00 PM,Kerala,1,0,0,0,1
3,01/02/20,6:00 PM,Kerala,2,0,0,0,2
4,02/02/20,6:00 PM,Kerala,3,0,0,0,3
5,03/02/20,6:00 PM,Kerala,3,0,0,0,3
6,04/02/20,6:00 PM,Kerala,3,0,0,0,3
7,05/02/20,6:00 PM,Kerala,3,0,0,0,3
8,06/02/20,6:00 PM,Kerala,3,0,0,0,3
9,07/02/20,6:00 PM,Kerala,3,0,0,0,3
10,08/02/20,6:00 PM,Kerala,3,0,0,0,3

In [6]:
dataset1.tail(10)

,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
Sno,,,,,,,,
2441,29/05/20,8:00 AM,Punjab,-,-,1918,40,2139
2442,29/05/20,8:00 AM,Rajasthan,-,-,4457,173,7703
2443,29/05/20,8:00 AM,Sikkim,-,-,0,0,1
2444,29/05/20,8:00 AM,Tamil Nadu,-,-,9909,133,18545
2445,29/05/20,8:00 AM,Telengana,-,-,1284,63,2098
2446,29/05/20,8:00 AM,Tripura,-,-,165,0,230
2447,29/05/20,8:00 AM,Uttarakhand,-,-,79,4,469
2448,29/05/20,8:00 AM,Uttar Pradesh,-,-,3991,182,6991
2449,29/05/20,8:00 AM,West Bengal,-,-,1578,289,4192
2450,29/05/20,8:00 AM,Cases being reassigned to states,-,-,0,0,4332

In [7]:
dataset1.index

Int64Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
            ...
            2441, 2442, 2443, 2444, 2445, 2446, 2447, 2448, 2449, 2450],
           dtype='int64', name='Sno', length=2450)

In [8]:
dataset1.columns

Index(['Date', 'Time', 'State/UnionTerritory', 'ConfirmedIndianNational',
       'ConfirmedForeignNational', 'Cured', 'Deaths', 'Confirmed'],
      dtype='object')

In [9]:
dataset1.shape

(2450, 8)

In [10]:
dataset1.ndim

2

In [11]:
dataset1.size

19600

In [12]:
dataset1.loc[:,'Date']

Sno
1       30/01/20
2       31/01/20
3       01/02/20
4       02/02/20
5       03/02/20
          ...
2446    29/05/20
2447    29/05/20
2448    29/05/20
2449    29/05/20
2450    29/05/20
Name: Date, Length: 2450, dtype: object

In [13]:
dataset1.at[4,'ConfirmedIndianNational']

'3'

In [14]:
dataset1.describe()

              Cured       Deaths     Confirmed
count   2450.000000  2450.000000   2450.000000
mean     423.193469    37.957551   1227.379184
std     1381.069153   149.523847   4187.451290
min        0.000000     0.000000      0.000000
25%        1.000000     0.000000      7.000000
50%       14.000000     1.000000     53.500000
75%      152.750000    11.000000    647.000000
max    17918.000000  1897.000000  56948.000000

       ---> To know datatypes of columns/variables we use dtypes()

In [15]:
dataset1.dtypes

Date                        object
Time                        object
State/UnionTerritory        object
ConfirmedIndianNational     object
ConfirmedForeignNational    object
Cured                        int64
Deaths                       int64
Confirmed                    int64
dtype: object

In [16]:
dataset1.dtypes.value_counts()

object    5
int64     3
dtype: int64

In [17]:
dataset1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2450 entries, 1 to 2450
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date                      2450 non-null   object
 1   Time                      2450 non-null   object
 2   State/UnionTerritory      2450 non-null   object
 3   ConfirmedIndianNational   2450 non-null   object
 4   ConfirmedForeignNational  2450 non-null   object
 5   Cured                     2450 non-null   int64
 6   Deaths                    2450 non-null   int64
 7   Confirmed                 2450 non-null   int64
dtypes: int64(3), object(5)
memory usage: 252.3+ KB

In [18]:
dataset1.count()

Date                        2450
Time                        2450
State/UnionTerritory        2450
ConfirmedIndianNational     2450
ConfirmedForeignNational    2450
Cured                       2450
Deaths                      2450
Confirmed                   2450
dtype: int64

In [19]:
dataset1.isna()

,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
Sno,,,,,,,,
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
2446,False,False,False,False,False,False,False,False
2447,False,False,False,False,False,False,False,False
2448,False,False,False,False,False,False,False,False
2449,False,False,False,False,False,False,False,False
2450,False,False,False,False,False,False,False,False

In [20]:
dataset1.isna().sum()

Date                        0
Time                        0
State/UnionTerritory        0
ConfirmedIndianNational     0
ConfirmedForeignNational    0
Cured                       0
Deaths                      0
Confirmed                   0
dtype: int64

In [21]:
dataset1=dataset1.replace('-',0)

In [22]:
dataset1

,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
Sno,,,,,,,,
1,30/01/20,6:00 PM,Kerala,1,0,0,0,1
2,31/01/20,6:00 PM,Kerala,1,0,0,0,1
3,01/02/20,6:00 PM,Kerala,2,0,0,0,2
4,02/02/20,6:00 PM,Kerala,3,0,0,0,3
5,03/02/20,6:00 PM,Kerala,3,0,0,0,3
...,...,...,...,...,...,...,...,...
2446,29/05/20,8:00 AM,Tripura,0,0,165,0,230
2447,29/05/20,8:00 AM,Uttarakhand,0,0,79,4,469
2448,29/05/20,8:00 AM,Uttar Pradesh,0,0,3991,182,6991
2449,29/05/20,8:00 AM,West Bengal,0,0,1578,289,4192
2450,29/05/20,8:00 AM,Cases being reassigned to states,0,0,0,0,4332

In [23]:
dataset1['Date'] = pd.to_datetime(dataset1['Date'], format = "%d/%m/%y")

In [24]:
dataset1['Date']

Sno
1      2020-01-30
2      2020-01-31
3      2020-02-01
4      2020-02-02
5      2020-02-03
          ...
2446   2020-05-29
2447   2020-05-29
2448   2020-05-29
2449   2020-05-29
2450   2020-05-29
Name: Date, Length: 2450, dtype: datetime64[ns]

    first covid19 case in india

In [25]:
dataset1.loc[1,['Date','State/UnionTerritory','ConfirmedIndianNational']]

Date                       2020-01-30 00:00:00
State/UnionTerritory                    Kerala
ConfirmedIndianNational                      1
Name: 1, dtype: object

In [26]:
dataset1['Date'].min()

Timestamp('2020-01-30 00:00:00')

In [27]:
dataset1['Date'].max()

Timestamp('2020-05-29 00:00:00')

In [28]:
dataset1['Date'].max() - dataset1['Date'].min()

Timedelta('120 days 00:00:00')

Groupby

In [29]:
dataset1.groupby(['State/UnionTerritory','Date']).sum()

                                        Cured  Deaths  Confirmed
State/UnionTerritory        Date
Andaman and Nicobar Islands 2020-03-26      0       0          1
                            2020-03-27      0       0          1
                            2020-03-28      0       0          6
                            2020-03-29      0       0          9
                            2020-03-30      0       0          9
...                                       ...     ...        ...
West Bengal                 2020-05-25   1339     272       3667
                            2020-05-26   1414     278       3816
                            2020-05-27   1486     283       4009
                            2020-05-28   1578     289       4192
                            2020-05-29   1578     289       4192

[2450 rows x 3 columns]

In [30]:
dataset1.groupby(['Confirmed','State/UnionTerritory']).sum()

                                       Cured  Deaths
Confirmed State/UnionTerritory
0         Nagaland                         0       0
1         Andaman and Nicobar Islands      0       0
          Andhra Pradesh                   0       0
          Arunachal Pradesh               35       0
          Assam                            0       0
...                                      ...     ...
47190     Maharashtra                  13404    1577
50231     Maharashtra                  14600    1635
52667     Maharashtra                  15786    1695
54758     Maharashtra                  16954    1792
56948     Maharashtra                  35836    3794

[1493 rows x 2 columns]

In [31]:
pd.set_option('display.max_rows',100)

In [32]:
dataset1

,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
Sno,,,,,,,,
1,2020-01-30,6:00 PM,Kerala,1,0,0,0,1
2,2020-01-31,6:00 PM,Kerala,1,0,0,0,1
3,2020-02-01,6:00 PM,Kerala,2,0,0,0,2
4,2020-02-02,6:00 PM,Kerala,3,0,0,0,3
5,2020-02-03,6:00 PM,Kerala,3,0,0,0,3
...,...,...,...,...,...,...,...,...
2446,2020-05-29,8:00 AM,Tripura,0,0,165,0,230
2447,2020-05-29,8:00 AM,Uttarakhand,0,0,79,4,469
2448,2020-05-29,8:00 AM,Uttar Pradesh,0,0,3991,182,6991
2449,2020-05-29,8:00 AM,West Bengal,0,0,1578,289,4192
2450,2020-05-29,8:00 AM,Cases being reassigned to states,0,0,0,0,4332

In [33]:
dataset1['State/UnionTerritory'].value_counts()

Kerala                              121
Delhi                                89
Telengana                            89
Rajasthan                            88
Haryana                              87
Uttar Pradesh                        87
Tamil Nadu                           84
Ladakh                               84
Jammu and Kashmir                    82
Karnataka                            82
Maharashtra                          82
Punjab                               82
Andhra Pradesh                       79
Uttarakhand                          76
Odisha                               75
West Bengal                          73
Puducherry                           73
Chandigarh                           72
Chhattisgarh                         72
Gujarat                              71
Madhya Pradesh                       70
Himachal Pradesh                     70
Bihar                                69
Manipur                              67
Mizoram                              66
Goa                                  65
Andaman and Nicobar Islands          65
Jharkhand                            59
Assam                                59
Arunachal Pradesh                    57
Tripura                              53
Meghalaya                            46
Dadar Nagar Haveli                   24
Nagaland                             13
Cases being reassigned to states     10
Sikkim                                6
Unassigned                            3
Name: State/UnionTerritory, dtype: int64

In [34]:
filt=dataset1['State/UnionTerritory'] == 'Maharashtra'  
dataset1.loc[filt]

,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
Sno,,,,,,,,
77,2020-03-09,6:00 PM,Maharashtra,2,0,0,0,2
92,2020-03-10,6:00 PM,Maharashtra,5,0,0,0,5
98,2020-03-11,6:00 PM,Maharashtra,2,0,0,0,2
121,2020-03-12,6:00 PM,Maharashtra,11,0,0,0,11
134,2020-03-13,6:00 PM,Maharashtra,14,0,0,0,14
147,2020-03-14,6:00 PM,Maharashtra,14,0,0,0,14
154,2020-03-15,6:00 PM,Maharashtra,32,0,0,0,32
168,2020-03-16,6:00 PM,Maharashtra,32,0,0,0,32
183,2020-03-17,6:00 PM,Maharashtra,36,3,0,1,39
198,2020-03-18,6:00 PM,Maharashtra,39,3,0,1,42
216,2020-03-19,6:00 PM,Maharashtra,44,3,0,1,47
236,2020-03-20,6:00 PM,Maharashtra,49,3,0,1,52
258,2020-03-21,6:00 PM,Maharashtra,60,3,0,1,63
281,2020-03-22,6:00 PM,Maharashtra,64,3,0,2,67
304,2020-03-23,6:00 PM,Maharashtra,71,3,0,2,74
327,2020-03-24,6:00 PM,Maharashtra,86,3,0,2,89
351,2020-03-25,6:00 PM,Maharashtra,125,3,1,3,128
381,2020-03-26,6:00 PM,Maharashtra,121,3,1,3,124
408,2020-03-27,10:00 AM,Maharashtra,127,3,15,4,130
435,2020-03-28,6:00 PM,Maharashtra,177,3,25,5,180
462,2020-03-29,7:30 PM,Maharashtra,0,0,25,6,186
489,2020-03-30,9:30 PM,Maharashtra,0,0,25,8,198
517,2020-03-31,8:30 PM,Maharashtra,0,0,39,9,216
547,2020-04-01,7:30 PM,Maharashtra,0,0,39,9,302
576,2020-04-02,6:00 PM,Maharashtra,0,0,42,13,335
606,2020-04-03,6:00 PM,Maharashtra,0,0,42,16,335
637,2020-04-04,6:00 PM,Maharashtra,0,0,42,24,490
667,2020-04-05,6:00 PM,Maharashtra,0,0,42,24,490
697,2020-04-06,6:00 PM,Maharashtra,0,0,56,45,748
727,2020-04-07,6:00 PM,Maharashtra,0,0,56,48,868
758,2020-04-08,5:00 PM,Maharashtra,0,0,79,64,1018
789,2020-04-09,5:00 PM,Maharashtra,0,0,117,72,1135
820,2020-04-10,5:00 PM,Maharashtra,0,0,125,97,1364
851,2020-04-11,5:00 PM,Maharashtra,0,0,188,110,1574
882,2020-04-12,5:00 PM,Maharashtra,0,0,208,127,1761
913,2020-04-13,5:00 PM,Maharashtra,0,0,217,149,1985
945,2020-04-14,5:00 PM,Maharashtra,0,0,229,160,2337
978,2020-04-15,5:00 PM,Maharashtra,0,0,259,178,2687
1011,2020-04-16,5:00 PM,Maharashtra,0,0,295,187,2919
1044,2020-04-17,5:00 PM,Maharashtra,0,0,300,194,3205
1077,2020-04-18,5:00 PM,Maharashtra,0,0,331,201,3323
1110,2020-04-19,5:00 PM,Maharashtra,0,0,365,211,3651
1143,2020-04-20,5:00 PM,Maharashtra,0,0,507,223,4203
1176,2020-04-21,5:00 PM,Maharashtra,0,0,572,232,4669
1209,2020-04-22,5:00 PM,Maharashtra,0,0,722,251,5221
1241,2020-04-23,5:00 PM,Maharashtra,0,0,789,269,5652
1273,2020-04-24,5:00 PM,Maharashtra,0,0,840,283,6430
1305,2020-04-25,5:00 PM,Maharashtra,0,0,957,301,6817
1337,2020-04-26,5:00 PM,Maharashtra,0,0,1076,323,7628
1369,2020-04-27,5:00 PM,Maharashtra,0,0,1188,342,8068
1401,2020-04-28,5:00 PM,Maharashtra,0,0,1282,369,8590
1433,2020-04-29,5:00 PM,Maharashtra,0,0,1388,400,9318
1465,2020-04-30,5:00 PM,Maharashtra,0,0,1593,432,9915
1497,2020-05-01,5:00 PM,Maharashtra,0,0,1773,459,10498
1529,2020-05-02,5:00 PM,Maharashtra,0,0,1879,485,11506
1561,2020-05-03,5:00 PM,Maharashtra,0,0,2000,521,12296
1593,2020-05-04,5:00 PM,Maharashtra,0,0,2115,548,12974
1625,2020-05-05,5:00 PM,Maharashtra,0,0,2465,583,14541
1658,2020-05-06,8:00 AM,Maharashtra,0,0,2819,617,15525
1691,2020-05-07,8:00 AM,Maharashtra,0,0,3094,651,16758
1724,2020-05-08,8:00 AM,Maharashtra,0,0,3301,694,17974
1757,2020-05-09,8:00 AM,Maharashtra,0,0,3470,731,19063
1790,2020-05-10,8:00 AM,Maharashtra,0,0,3800,779,20228
1823,2020-05-11,8:00 AM,Maharashtra,0,0,4199,832,22171
1856,2020-05-12,8:00 AM,Maharashtra,0,0,4786,868,23401
1889,2020-05-13,8:00 AM,Maharashtra,0,0,5125,921,24427
1922,2020-05-14,8:00 AM,Maharashtra,0,0,5547,975,25922
1955,2020-05-15,8:00 AM,Maharashtra,0,0,6059,1019,27524
1988,2020-05-16,8:00 AM,Maharashtra,0,0,6564,1068,29100
2021,2020-05-17,8:00 AM,Maharashtra,0,0,7088,1135,30706
2054,2020-05-18,8:00 AM,Maharashtra,0,0,7688,1198,33053
2087,2020-05-19,8:00 AM,Maharashtra,0,0,8437,1249,35058
2120,2020-05-20,8:00 AM,Maharashtra,0,0,9639,1325,37136
2154,2020-05-21,8:00 AM,Maharashtra,0,0,10318,1390,39297
2188,2020-05-22,8:00 AM,Maharashtra,0,0,11726,1454,41642
2222,2020-05-23,8:00 AM,Maharashtra,0,0,12583,1517,44582
2256,2020-05-24,8:00 AM,Maharashtra,0,0,13404,1577,47190
2291,2020-05-25,8:00 AM,Maharashtra,0,0,14600,1635,50231
2326,2020-05-26,8:00 AM,Maharashtra,0,0,15786,1695,52667
2362,2020-05-27,8:00 AM,Maharashtra,0,0,16954,1792,54758
2398,2020-05-28,8:00 AM,Maharashtra,0,0,17918,1897,56948
2434,2020-05-29,8:00 AM,Maharashtra,0,0,17918,1897,56948

In [48]:
states=dataset1.groupby(['State/UnionTerritory'])

In [49]:
states.get_group('Uttar Pradesh')

,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
Sno,,,,,,,,
40,2020-03-04,6:00 PM,Uttar Pradesh,6,0,0,0,6
51,2020-03-05,6:00 PM,Uttar Pradesh,7,0,0,0,7
56,2020-03-06,6:00 PM,Uttar Pradesh,7,0,0,0,7
59,2020-03-07,6:00 PM,Uttar Pradesh,7,0,0,0,7
73,2020-03-08,6:00 PM,Uttar Pradesh,7,0,0,0,7
83,2020-03-09,6:00 PM,Uttar Pradesh,7,0,0,0,7
86,2020-03-10,6:00 PM,Uttar Pradesh,7,0,0,0,7
104,2020-03-11,6:00 PM,Uttar Pradesh,9,0,0,0,9
115,2020-03-12,6:00 PM,Uttar Pradesh,10,1,0,0,11
128,2020-03-13,6:00 PM,Uttar Pradesh,10,1,0,0,11
141,2020-03-14,6:00 PM,Uttar Pradesh,11,1,5,0,12
161,2020-03-15,6:00 PM,Uttar Pradesh,12,1,4,0,13
176,2020-03-16,6:00 PM,Uttar Pradesh,12,1,4,0,13
191,2020-03-17,6:00 PM,Uttar Pradesh,14,1,5,0,15
207,2020-03-18,6:00 PM,Uttar Pradesh,15,1,5,0,16
226,2020-03-19,6:00 PM,Uttar Pradesh,18,1,9,0,19
246,2020-03-20,6:00 PM,Uttar Pradesh,22,1,9,0,23
268,2020-03-21,6:00 PM,Uttar Pradesh,23,1,9,0,24
291,2020-03-22,6:00 PM,Uttar Pradesh,26,1,9,0,27
314,2020-03-23,6:00 PM,Uttar Pradesh,30,1,9,0,31
338,2020-03-24,6:00 PM,Uttar Pradesh,32,1,11,0,33
363,2020-03-25,6:00 PM,Uttar Pradesh,36,1,11,0,37
391,2020-03-26,6:00 PM,Uttar Pradesh,40,1,11,0,41
418,2020-03-27,10:00 AM,Uttar Pradesh,40,1,11,0,41
445,2020-03-28,6:00 PM,Uttar Pradesh,54,1,11,0,55
472,2020-03-29,7:30 PM,Uttar Pradesh,0,0,11,0,65
499,2020-03-30,9:30 PM,Uttar Pradesh,0,0,11,0,82
527,2020-03-31,8:30 PM,Uttar Pradesh,0,0,14,0,101
557,2020-04-01,7:30 PM,Uttar Pradesh,0,0,14,2,103
586,2020-04-02,6:00 PM,Uttar Pradesh,0,0,14,2,113
616,2020-04-03,6:00 PM,Uttar Pradesh,0,0,14,2,172
647,2020-04-04,6:00 PM,Uttar Pradesh,0,0,19,2,174
677,2020-04-05,6:00 PM,Uttar Pradesh,0,0,19,2,227
707,2020-04-06,6:00 PM,Uttar Pradesh,0,0,21,3,305
738,2020-04-07,6:00 PM,Uttar Pradesh,0,0,21,3,305
769,2020-04-08,5:00 PM,Uttar Pradesh,0,0,26,3,343
800,2020-04-09,5:00 PM,Uttar Pradesh,0,0,31,4,410
831,2020-04-10,5:00 PM,Uttar Pradesh,0,0,32,4,431
862,2020-04-11,5:00 PM,Uttar Pradesh,0,0,32,4,433
893,2020-04-12,5:00 PM,Uttar Pradesh,0,0,45,5,452
925,2020-04-13,5:00 PM,Uttar Pradesh,0,0,47,5,483
958,2020-04-14,5:00 PM,Uttar Pradesh,0,0,49,5,657
991,2020-04-15,5:00 PM,Uttar Pradesh,0,0,51,11,735
1024,2020-04-16,5:00 PM,Uttar Pradesh,0,0,68,13,773
1057,2020-04-17,5:00 PM,Uttar Pradesh,0,0,74,14,846
1090,2020-04-18,5:00 PM,Uttar Pradesh,0,0,86,14,969
1123,2020-04-19,5:00 PM,Uttar Pradesh,0,0,108,17,1084
1156,2020-04-20,5:00 PM,Uttar Pradesh,0,0,129,17,1176
1189,2020-04-21,5:00 PM,Uttar Pradesh,0,0,140,20,1294
1221,2020-04-22,5:00 PM,Uttar Pradesh,0,0,165,21,1412
1253,2020-04-23,5:00 PM,Uttar Pradesh,0,0,187,21,1509
1285,2020-04-24,5:00 PM,Uttar Pradesh,0,0,206,24,1604
1317,2020-04-25,5:00 PM,Uttar Pradesh,0,0,248,26,1778
1349,2020-04-26,5:00 PM,Uttar Pradesh,0,0,289,29,1843
1381,2020-04-27,5:00 PM,Uttar Pradesh,0,0,335,31,1955
1413,2020-04-28,5:00 PM,Uttar Pradesh,0,0,400,31,2043
1445,2020-04-29,5:00 PM,Uttar Pradesh,0,0,477,36,2115
1477,2020-04-30,5:00 PM,Uttar Pradesh,0,0,513,39,2203
1509,2020-05-01,5:00 PM,Uttar Pradesh,0,0,555,41,2281
1541,2020-05-02,5:00 PM,Uttar Pradesh,0,0,654,42,2328
1573,2020-05-03,5:00 PM,Uttar Pradesh,0,0,698,43,2626
1605,2020-05-04,5:00 PM,Uttar Pradesh,0,0,758,45,2742
1637,2020-05-05,5:00 PM,Uttar Pradesh,0,0,944,53,2859
1670,2020-05-06,8:00 AM,Uttar Pradesh,0,0,987,56,2880
1703,2020-05-07,8:00 AM,Uttar Pradesh,0,0,1130,60,2998
1736,2020-05-08,8:00 AM,Uttar Pradesh,0,0,1250,62,3071
1769,2020-05-09,8:00 AM,Uttar Pradesh,0,0,1387,66,3214
1802,2020-05-10,8:00 AM,Uttar Pradesh,0,0,1499,74,3373
1835,2020-05-11,8:00 AM,Uttar Pradesh,0,0,1653,74,3467
1868,2020-05-12,8:00 AM,Uttar Pradesh,0,0,1758,80,3573
1901,2020-05-13,8:00 AM,Uttar Pradesh,0,0,1873,82,3664
1934,2020-05-14,8:00 AM,Uttar Pradesh,0,0,1902,83,3729
1967,2020-05-15,8:00 AM,Uttar Pradesh,0,0,2072,88,3902
2000,2020-05-16,8:00 AM,Uttar Pradesh,0,0,2165,95,4057
2033,2020-05-17,8:00 AM,Uttar Pradesh,0,0,2441,104,4258
2066,2020-05-18,8:00 AM,Uttar Pradesh,0,0,2441,104,4259
2099,2020-05-19,8:00 AM,Uttar Pradesh,0,0,2783,118,4605
2132,2020-05-20,8:00 AM,Uttar Pradesh,0,0,2918,123,4926
2166,2020-05-21,8:00 AM,Uttar Pradesh,0,0,3066,127,5175
2200,2020-05-22,8:00 AM,Uttar Pradesh,0,0,3204,138,5515
2234,2020-05-23,8:00 AM,Uttar Pradesh,0,0,3238,152,5735
2269,2020-05-24,8:00 AM,Uttar Pradesh,0,0,3406,155,6017
2304,2020-05-25,8:00 AM,Uttar Pradesh,0,0,3538,161,6268
2340,2020-05-26,8:00 AM,Uttar Pradesh,0,0,3581,165,6532
2376,2020-05-27,8:00 AM,Uttar Pradesh,0,0,3698,170,6548
2412,2020-05-28,8:00 AM,Uttar Pradesh,0,0,3991,182,6991
2448,2020-05-29,8:00 AM,Uttar Pradesh,0,0,3991,182,6991

In [50]:
states['Cured'].value_counts().loc['Telengana']

Cured
1       21
0       13
35       4
186      3
1284     3
43       2
100      2
120      2
190      2
253      2
280      2
367      2
441      2
585      2
750      2
32       1
34       1
194      1
197      1
321      1
458      1
490      1
628      1
650      1
700      1
800      1
830      1
940      1
950      1
959      1
971      1
992      1
1000     1
1010     1
1015     1
1035     1
1043     1
1065     1
1090     1
1164     1
Name: Cured, dtype: int64

In [38]:
states['Deaths'].value_counts().head(100)

State/UnionTerritory              Deaths
Andaman and Nicobar Islands       0         65
Andhra Pradesh                    0         21
                                  31         6
                                  1          4
                                  36         4
                                  6          3
                                  33         3
                                  56         3
                                  3          2
                                  4          2
                                  9          2
                                  14         2
                                  15         2
                                  45         2
                                  48         2
                                  50         2
                                  53         2
                                  58         2
                                  7          1
                                  20         1
                                  22         1
                                  24         1
                                  27         1
                                  29         1
                                  38         1
                                  41         1
                                  44         1
                                  46         1
                                  47         1
                                  49         1
                                  52         1
                                  55         1
                                  57         1
Arunachal Pradesh                 0         57
Assam                             1         29
                                  0         10
                                  2         10
                                  4         10
Bihar                             1         27
                                  2         14
                                  4          5
                                  7          4
                                  5          3
                                  6          3
                                  11         3
                                  13         3
                                  9          2
                                  15         2
                                  3          1
                                  8          1
                                  10         1
Cases being reassigned to states  0         10
Chandigarh                        0         47
                                  3         14
                                  1          5
                                  2          3
                                  4          3
Chhattisgarh                      0         72
Dadar Nagar Haveli                0         24
Delhi                             1         15
                                  0         12
                                  2          4
                                  54         4
                                  64         4
                                  7          3
                                  73         3
                                  4          2
                                  9          2
                                  47         2
                                  168        2
                                  303        2
                                  6          1
                                  13         1
                                  14         1
                                  19         1
                                  24         1
                                  28         1
                                  30         1
                                  32         1
                                  38         1
                                  42         1
                                  43         1
                                  45         1
                                  48         1
                                  50         1
                                  53         1
                                  56         1
                                  59         1
                                  61         1
                                  65         1
                                  66         1
                                  68         1
                                  86         1
                                  106        1
                                  115        1
                                  123        1
                                  129        1
                                  160        1
                                  176        1
                                  194        1
Name: Deaths, dtype: int64

In [39]:
states['Cured'].median()

State/UnionTerritory
Andaman and Nicobar Islands          11.0
Andhra Pradesh                       92.0
Arunachal Pradesh                     1.0
Assam                                29.0
Bihar                                46.0
Cases being reassigned to states      0.0
Chandigarh                           14.0
Chhattisgarh                         28.0
Dadar Nagar Haveli                    0.0
Delhi                                30.0
Goa                                   7.0
Gujarat                             258.0
Haryana                              43.0
Himachal Pradesh                     18.0
Jammu and Kashmir                    46.5
Jharkhand                            19.0
Karnataka                            98.0
Kerala                               19.0
Ladakh                               14.0
Madhya Pradesh                      206.5
Maharashtra                         348.0
Manipur                               2.0
Meghalaya                            10.0
Mizoram                               0.0
Nagaland                              0.0
Odisha                               30.0
Puducherry                            3.0
Punjab                               29.0
Rajasthan                           147.0
Sikkim                                0.0
Tamil Nadu                          231.5
Telengana                           120.0
Tripura                               2.0
Unassigned                            0.0
Uttar Pradesh                        68.0
Uttarakhand                          18.5
West Bengal                          79.0
Name: Cured, dtype: float64

In [40]:
states['Confirmed'].median()

State/UnionTerritory
Andaman and Nicobar Islands           33.0
Andhra Pradesh                       722.0
Arunachal Pradesh                      1.0
Assam                                 42.0
Bihar                                228.0
Cases being reassigned to states    2490.0
Chandigarh                            27.0
Chhattisgarh                          36.0
Dadar Nagar Haveli                     1.0
Delhi                               1561.0
Goa                                    7.0
Gujarat                             2624.0
Haryana                              205.0
Himachal Pradesh                      40.0
Jammu and Kashmir                    334.5
Jharkhand                            107.0
Karnataka                            377.5
Kerala                               202.0
Ladakh                                18.0
Madhya Pradesh                      1902.0
Maharashtra                         3487.0
Manipur                                2.0
Meghalaya                             12.0
Mizoram                                1.0
Nagaland                               0.0
Odisha                                82.0
Puducherry                             7.0
Punjab                               210.5
Rajasthan                           1014.0
Sikkim                                 1.0
Tamil Nadu                          1295.0
Telengana                            647.0
Tripura                                4.0
Unassigned                            46.0
Uttar Pradesh                        773.0
Uttarakhand                           46.0
West Bengal                          456.0
Name: Confirmed, dtype: float64

In [41]:
states['Confirmed'].agg(['mean','median'])

                                          mean  median
State/UnionTerritory
Andaman and Nicobar Islands          22.738462    33.0
Andhra Pradesh                     1062.987342   722.0
Arunachal Pradesh                     1.070175     1.0
Assam                               107.016949    42.0
Bihar                               608.927536   228.0
Cases being reassigned to states   2664.500000  2490.0
Chandigarh                           82.944444    27.0
Chhattisgarh                         60.277778    36.0
Dadar Nagar Haveli                    1.250000     1.0
Delhi                              3427.528090  1561.0
Goa                                  15.892308     7.0
Gujarat                            4623.647887  2624.0
Haryana                             348.793103   205.0
Himachal Pradesh                     55.542857    40.0
Jammu and Kashmir                   506.646341   334.5
Jharkhand                           126.762712   107.0
Karnataka                           553.597561   377.5
Kerala                              260.876033   202.0
Ladakh                               23.202381    18.0
Madhya Pradesh                     2391.957143  1902.0
Maharashtra                       12108.646341  3487.0
Manipur                               6.462687     2.0
Meghalaya                            12.304348    12.0
Mizoram                               1.000000     1.0
Nagaland                              1.307692     0.0
Odisha                              297.693333    82.0
Puducherry                           10.068493     7.0
Punjab                              680.768293   210.5
Rajasthan                          1986.568182  1014.0
Sikkim                                1.000000     1.0
Tamil Nadu                         3822.726190  1295.0
Telengana                           698.044944   647.0
Tripura                              72.811321     4.0
Unassigned                           53.666667    46.0
Uttar Pradesh                      1761.586207   773.0
Uttarakhand                          69.105263    46.0
West Bengal                        1079.671233   456.0

In [66]:
States = dataset1['State/UnionTerritory'].unique().tolist()
States

['Kerala',
 'Telengana',
 'Delhi',
 'Rajasthan',
 'Uttar Pradesh',
 'Haryana',
 'Ladakh',
 'Tamil Nadu',
 'Karnataka',
 'Maharashtra',
 'Punjab',
 'Jammu and Kashmir',
 'Andhra Pradesh',
 'Uttarakhand',
 'Odisha',
 'Puducherry',
 'West Bengal',
 'Chhattisgarh',
 'Chandigarh',
 'Gujarat',
 'Himachal Pradesh',
 'Madhya Pradesh',
 'Bihar',
 'Manipur',
 'Mizoram',
 'Andaman and Nicobar Islands',
 'Goa',
 'Unassigned',
 'Assam',
 'Jharkhand',
 'Arunachal Pradesh',
 'Tripura',
 'Nagaland',
 'Meghalaya',
 'Dadar Nagar Haveli',
 'Cases being reassigned to states',
 'Sikkim']

In [67]:
States.remove('Cases being reassigned to states')
States.remove('Unassigned')

In [68]:
States

['Kerala',
 'Telengana',
 'Delhi',
 'Rajasthan',
 'Uttar Pradesh',
 'Haryana',
 'Ladakh',
 'Tamil Nadu',
 'Karnataka',
 'Maharashtra',
 'Punjab',
 'Jammu and Kashmir',
 'Andhra Pradesh',
 'Uttarakhand',
 'Odisha',
 'Puducherry',
 'West Bengal',
 'Chhattisgarh',
 'Chandigarh',
 'Gujarat',
 'Himachal Pradesh',
 'Madhya Pradesh',
 'Bihar',
 'Manipur',
 'Mizoram',
 'Andaman and Nicobar Islands',
 'Goa',
 'Assam',
 'Jharkhand',
 'Arunachal Pradesh',
 'Tripura',
 'Nagaland',
 'Meghalaya',
 'Dadar Nagar Haveli',
 'Sikkim']

In [69]:
len(States)

35

In [70]:
india_loc=pd.read_csv("Indian Coordinates.csv")

In [71]:
india_loc

                      Name of State / UT   Latitude  Longitude  Unnamed: 3
0                   Andaman And Nicobar   11.667026  92.735983         NaN
1                         Andhra Pradesh  14.750429  78.570026         NaN
2                     Arunachal Pradesh   27.100399  93.616601         NaN
3                                 Assam   26.749981  94.216667         NaN
4                                 Bihar   25.785414  87.479973         NaN
5                            Chandigarh   30.719997  76.780006         NaN
6                          Chhattisgarh   22.090420  82.159987         NaN
7                Dadra And Nagar Haveli   20.266578  73.016618         NaN
8                                  Delhi  28.669993  77.230004         NaN
9                                   Goa   15.491997  73.818001         NaN
10                               Haryana  28.450006  77.019991         NaN
11                     Himachal Pradesh   31.100025  77.166597         NaN
12  Union Territory of Jammu and Kashmir  33.450000  76.240000         NaN
13                            Jharkhand   23.800393  86.419986         NaN
14                             Karnataka  12.570381  76.919997         NaN
15                                Kerala   8.900373  76.569993         NaN
16                          Lakshadweep   10.562573  72.636867         NaN
17                       Madhya Pradesh   21.300391  76.130019         NaN
18                           Maharashtra  19.250232  73.160175         NaN
19                              Manipur   24.799971  93.950017         NaN
20                            Meghalaya   25.570492  91.880014         NaN
21                              Mizoram   23.710399  92.720015         NaN
22                             Nagaland   25.666998  94.116570         NaN
23                               Orissa   19.820430  85.900017         NaN
24                           Puducherry   11.934994  79.830000         NaN
25                                Punjab  31.519974  75.980003         NaN
26                             Rajasthan  26.449999  74.639981         NaN
27                               Sikkim   27.333330  88.616647         NaN
28                             Telengana  18.112400  79.019300         NaN
29                            Tamil Nadu  12.920386  79.150042         NaN
30                              Tripura   23.835404  91.279999         NaN
31                         Uttar Pradesh  27.599981  78.050006         NaN
32                           Uttarakhand  30.320409  78.050006         NaN
33                          West Bengal   22.580390  88.329947         NaN
34             Union Territory of Ladakh  34.100000  77.340000         NaN

In [72]:
len(india_loc)

35

In [73]:
india_loc.dtypes

Name of State / UT     object
Latitude              float64
Longitude             float64
Unnamed: 3            float64
dtype: object

In [74]:
india_loc.size

140

In [75]:
india_loc.ndim

2

In [77]:
india_loc.info

<bound method DataFrame.info of                       Name of State / UT   Latitude  Longitude  Unnamed: 3
0                   Andaman And Nicobar   11.667026  92.735983         NaN
1                         Andhra Pradesh  14.750429  78.570026         NaN
2                     Arunachal Pradesh   27.100399  93.616601         NaN
3                                 Assam   26.749981  94.216667         NaN
4                                 Bihar   25.785414  87.479973         NaN
5                            Chandigarh   30.719997  76.780006         NaN
6                          Chhattisgarh   22.090420  82.159987         NaN
7                Dadra And Nagar Haveli   20.266578  73.016618         NaN
8                                  Delhi  28.669993  77.230004         NaN
9                                   Goa   15.491997  73.818001         NaN
10                               Haryana  28.450006  77.019991         NaN
11                     Himachal Pradesh   31.100025  77.166597         NaN
12  Union Territory of Jammu and Kashmir  33.450000  76.240000         NaN
13                            Jharkhand   23.800393  86.419986         NaN
14                             Karnataka  12.570381  76.919997         NaN
15                                Kerala   8.900373  76.569993         NaN
16                          Lakshadweep   10.562573  72.636867         NaN
17                       Madhya Pradesh   21.300391  76.130019         NaN
18                           Maharashtra  19.250232  73.160175         NaN
19                              Manipur   24.799971  93.950017         NaN
20                            Meghalaya   25.570492  91.880014         NaN
21                              Mizoram   23.710399  92.720015         NaN
22                             Nagaland   25.666998  94.116570         NaN
23                               Orissa   19.820430  85.900017         NaN
24                           Puducherry   11.934994  79.830000         NaN
25                                Punjab  31.519974  75.980003         NaN
26                             Rajasthan  26.449999  74.639981         NaN
27                               Sikkim   27.333330  88.616647         NaN
28                             Telengana  18.112400  79.019300         NaN
29                            Tamil Nadu  12.920386  79.150042         NaN
30                              Tripura   23.835404  91.279999         NaN
31                         Uttar Pradesh  27.599981  78.050006         NaN
32                           Uttarakhand  30.320409  78.050006         NaN
33                          West Bengal   22.580390  88.329947         NaN
34             Union Territory of Ladakh  34.100000  77.340000         NaN>

In [79]:
india_loc.describe()

        Latitude  Longitude  Unnamed: 3
count  35.000000  35.000000         0.0
mean   22.827205  82.021144         NaN
std     6.971512   7.371870         NaN
min     8.900373  72.636867         NaN
25%    18.681316  76.674999         NaN
50%    23.835404  78.570026         NaN
75%    27.466655  88.473297         NaN
max    34.100000  94.216667         NaN

# Merging dataframes